headers{
    background-color:palevioletred;
  }
  
  .headercontainer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .fact {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  footer{
    background-color: blueviolet;
    height: 300px;
    padding: left;
    width: 300p;
  }